
html {
  scroll-behavior: smooth;
}

/* Experience & Education Section */
.exp-edu-section {
  padding: 80px 8%;
  background-color: #fff4f8;
}

.section-title {
  text-align: center;
  font-size: 38px;
  color: #e57391;
  margin-bottom: 10px;
}

.section-subtitle {
  text-align: center;
  width: 100%;
    color: #595050;
    margin-bottom: 60px;
}

/* Layout */
.exp-edu-container {
  display: flex;
  gap: 60px;
}

.exp-edu-column {
  flex: 1;
}

.column-title {
  font-size: 22px;
  margin-bottom: 25px;
}

/* Timeline */
.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #e57391;
  border-radius: 10px;
}

.timeline-item {
  position: relative;
  margin-bottom: 45px;
}

.timeline-dot {
  position: absolute;
  left: -2px;
  top: 18px;
  width: 16px;
  height: 16px;
  background-color: #e57391;
  border-radius: 50%;
}

/* Card */
.timeline-card {
  background-color: #f7a1b8;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.timeline-card h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.org-name {
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}

.duration {
  font-size: 14px;
  color: #222;
  margin-bottom: 10px;
}

/* Tag */
.tag {
  display: inline-block;
  background-color: #ffe4ec;
  color: #e57391;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
}

/* List */
.timeline-card ul {
  list-style: none;
  margin-top: 10px;
}

.timeline-card ul li {
  font-size: 14px;
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
}

.timeline-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #000;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 900px) {
  .exp-edu-container {
    flex-direction: column;
  }
}
