html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(253, 235, 244);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
a:hover{
    color:hotpink;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:hotpink;
}
.navbar {
    display : flex;
    align-items:center;
    height: 70px;
    font-weight: 500;
    padding: 0px 100px;
    box-shadow: 0px 0px 10px rgb(255, 170, 212);
}
.logo{
    width: 40%;
    font-size: 30px;
    font-weight: 600;
    color:palevioletred;
}
.menu-bar {
    width: 60%;
    list-style: none;
    display : flex;
    justify-content: space-around;
}
.menu-bar li{
    font-size: 20px;
}
.navbar-menu{
    display: none;
}
@media(max-width:1024px){
    .navbar{
        display: none;
    }
    .navbar-menu{
    display: flex;
    }
    .hamburger{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: fixed;
        right: 30px;
        top: 20px;
    }
    .hamburger i{
        font-size: 30px;
        padding: 4pxs;
    }
    .navbar-menu .logo{
        margin-top: 20px;
        padding-left: 30px;
    }
    .navbar-menu .menu-bar{
        display: flex;
        flex-direction: column;
        background-color: deeppink;
        position: fixed;
        right: 0;
        top: 70px;
        padding: 10px;
        gap: 10px;
        margin-right: -700px;
        border-radius: 5px;
        transition: all .3s ease;
    }
    .navbar-menu .menu-bar.show{
        margin-right: 0px;
    }
    .navbar-menu .menu-bar li{
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;

    }
}

@media(max-width:767px){
    .logo{
        text-wrap: nowrap;
    }
        .navbar-menu .logo{
            margin-top: 25px;
        padding-left: 10px;
        font-size: 25px;
    }
}

