* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #f5f7fa;
    color: #222;
}

header {
    text-align: center;
    padding: 60px;
    background: #002b5c;
    color: white;
}

header span {
    color: #4db8ff;
}

section {
    padding: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #002b5c;
}

.about p {
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 1.6;
}

.skills, .projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.skill-box, .project-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #002b5c;
}

.certifications ul {
    width: 50%;
    margin: auto;
    line-height: 1.8;
}

.contact {
    text-align: center;
}

footer {
    background: #002b5c;
    color: white;
    text-align: center;
    padding: 15px;
}
